.hero{
	padding-top:0px;
}
.btn-ambassador{
	color: #fff;
    background-color: #b50446;
    border-color: #a0033f;
}
.btn-ambassador:hover{
    color: #fff;
    background-color: #77022e;
    border-color: #6a0229;
}
.btn-about{
	color: #fff;
    background-color: #d93600;
    border-color: #ca3300;
}
.btn-about:hover{
	color: #fff;
    background-color: #a82b00;
    border-color: #972600;
}
.date{
	color: #fff;
    padding: 20px;
    position: absolute;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 2px;
    width: 25%;
    left: 37.5%;
    text-align: center;
    line-height: 0px;
    bottom: 50%;
    margin: 0 0 -120px 0;
	background-color:rgba(48,65,81,0.5);
}
